<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Libre+Baskerville|Montserrat|Playfair+Display">
    <link rel="stylesheet" href="/assets/css/libretto_styles.css">

</head>
<body>
    <!-- Navigation bar -->
    <header class="nav-bar">
        <div class="site-branding">
            <h1 class="site-title">
                <a href="{{ abs_link(_link("root", None, lang)) }}" title="{{ blog_title|e }}" rel="home">{{ blog_title|e }}</a>
            </h1>
        </div>
        <nav class="site-navigation" role="navigation">
            <div class="menu-toggle">
                <span class="mobile-site-title">{{ blog_title|e }}</span>
            </div>
            <ul class="menu">
                {% for url, text in navigation_links[lang] %}
                    <li><a href="{{ url }}">{{ text }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>

</body>

</html>

